<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="showVerificationCodeInput===0">
  <div class="card text-center" style="width: 500px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <p class="card-text py-2">
        Enter your email address and you will receive a code in your mail. Please copy/type the code here to proceed with password reset.
      </p>
      <div class="form-outline">
        <input type="email" id="typeEmail" class="form-control my-3" />

      </div>
      <a href="#" class="btn btn-primary w-100" (click)="showCodeForm($event)">Request a code</a>
      <div class="d-flex justify-content-between mt-4">
        <a class="" href="#">Login</a>

      </div>
    </div>
  </div>
</div>

<div class="centered-content d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="showVerificationCodeInput===1">
  <div class="card text-center" style="width: 500px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <p class="card-text py-2">
        Enter your code recieved by mail.
      </p>
      <div class="form-outline">
        <app-verification-code-input (codeEntered)="verifyCode($event)"></app-verification-code-input>
      </div>
      <br>
      <a href="#" class="btn btn-primary w-100" (click)="showPwdForm($event)">Proceed to reset password</a>
      <div class="d-flex justify-content-between mt-4">
        <a class="" href="#">Login</a>

      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="showVerificationCodeInput===2">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <p class="card-text py-2">

      </p>
      <div class="form-outline">
        <input type="password" id="typeEmail" class="form-control my-3" />
        <label class="form-label" for="typeEmail">password</label>
      </div>
      <div class="form-outline">
        <input type="password" id="typeEmail" class="form-control my-3" />
        <label class="form-label" for="typeEmail">Confirm password</label>
      </div>
      <a href="#" class="btn btn-primary w-100" >Reset password</a>
      <div class="d-flex justify-content-between mt-4">
        <a class="" href="#">Login</a>

      </div>
    </div>
  </div>
</div>


