<div class="app-sidebar sidebar-shadow">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
  </div>
  <div class="scrollbar-sidebar">
    <div class="app-sidebar__inner scrollbar-sidebar">
      <ul class="vertical-nav-menu">
        <li class="app-sidebar__heading">Dashboards</li>
        <li>
          <!--          class="mm-active"-->
          <a href="/dashboard/users" >
            <i class="metismenu-icon fas fa-trophy text-warning"></i>
            Subcontractors Ranking
          </a>
        </li>


        <li class="app-sidebar__heading">Hospitals</li>
        <li>
          <a href="/dashboard/hospitals/institutions">
            <i class="metismenu-icon fas fa-hospital text-dark"></i>
            Hospitals Management
          </a>

        </li>

        <li class="app-sidebar__heading">Inspections</li>
        <li>
          <a href="/dashboard/inspections/planning">
            <i class="metismenu-icon fas fa-calendar-day text-dark"></i>
            Planning Panel
          </a>
        </li>


        <li class="app-sidebar__heading">Contracts</li>
        <li>
          <a href="/dashboard/contracts/contrats">
            <i class="metismenu-icon fas fa-file-contract me-xxl-1 text-dark"></i> Contracts Management
          </a>
        </li>
        <li>
          <a href="/dashboard/contracts/subcontractor">
            <i class="metismenu-icon fas fa-user me-xxl-1 text-dark">
            </i>Subcontractors Management
          </a>
        </li>


        <li class="app-sidebar__heading">Settings</li>
        <li>
          <a href="/dashboard/users">
            <i class="metismenu-icon me-xxl-1 fa fa-users text-dark">
            </i>Users Management
          </a>
        </li>
        <li>
          <a href="/dashboard/hospitals/zones">
            <i class="metismenu-icon fas fa-globe me-xxl-1 text-dark">
            </i>Zones Management
          </a>
        </li>
        <li>
          <a href="/dashboard/inspections/criteres">
            <i class="metismenu-icon fas fa-check-double text-dark">
            </i>Evaluation criterias
          </a>
        </li>


      </ul>
    </div>
  </div>
</div>
